* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
input[type=date], select, textarea{
  width: 50%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input[type=text], input[type=file], textarea{
  width: 50%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  text-align: left;
}
div.para{
  text-align: center;
  left: 35px;
}
#bookDet{
  text-align: center;

}
#enclosure {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 20px;
  max-width: 70%;
  min-width: 300px;

}

h1 {
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;

}
button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  margin-top: 20%;
}
body{
  background-color: #FAEBD7;
  width: 100%;
}
html{
  align-content: center;
}
