/* ANNE */

* {
    box-sizing: border-box;
}

#annebody {
  background-color: #e3dac9;
  max-width: 70%;
  margin: auto;
}


 .anneauthor {
      margin: auto;
   /* padding: inherit; */
    padding-left: 0;
    padding-top: 3%;
    text-align: left;
    width: 100%;
    display: inline-block;
 }

 .anneauthor p {
   font-size: larger;
   color: grey;

 }

 #anne-a {
   float: left;
 }


.annebooks {
  display: block;
  width: 100%;
}


.annelist {
  float: left;
  margin-right: 75%;
}
