/*.indexbody{
  width: 70%;

}*/
.content{
  width: 70%;
}

td{
  font-size: 14pt;
  border: none;


}

td #booktitle{
  font-size: 20pt;
  color: black;
}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  overflow: hidden;
}
html{
background-color:#68dddd;
}
