body {
  font-family: helvetica, sans-serif, arial;
  font-size: 12pt;
  /** padding: 100px;*/
  margin-left: auto;
  margin-right: auto;

}

.content {
  width: 70%;
}

td {
  font-size: 14pt;
  border: none;
}

td #booktitle {
  font-size: 20pt;
  color: black;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  overflow: hidden;
}

html {
  background-color: gray;
}
.wrapper img:hover {
  border: 2px solid black;
}
